<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pintia"
        tools:targetApi="31">
        <activity
            android:name=".puntosPrincipales.lasQuintanasViews.YacimientoInfoView"
            android:exported="false" />
        <activity
            android:name=".puntosPrincipales.MurallaAsedioActivity"
            android:exported="false" />
        <activity
            android:name=".puntosPrincipales.EdificioUVaActivity"
            android:exported="false" />
        <activity
            android:name=".puntosPrincipales.LasRuedasActivity"
            android:exported="false" />
        <activity
            android:name=".puntosPrincipales.LasQuintanasActivity"
            android:exported="false" />

        <meta-data
            android:name="pk.eyJ1IjoicGludGlhcHJveWVjdDI0IiwiYSI6ImNtMzdqNHlkODA4cmUya3IxcXkzYTQ5OG8ifQ._XG2SIwHwdgrk79v2nYKfg"
            android:value="pk.eyJ1IjoicGludGlhcHJveWVjdDI0IiwiYSI6ImNtMzdqNnNlaTA5emIybHF1NGU2OXI3Y2MifQ.4VtNOpGHNw88xqol5bl7pA" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="settings" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".MainMap"
            android:exported="false" />
        <activity
            android:name=".RequestVisitActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>